body{
    background-color: rgb(45, 45, 45);
}



.fuel-quote-form{
    color: white;
}

.fuel-quote-form h1 {
    margin: auto;
    display: block;
    text-align: center;
}

.quote-form input {
    margin: auto;
    display: block;
    border-radius: 5px;
    width: 20%;
    height: 30px;
    background-color: rgb(20, 20, 20);
    color: white;
}

.quote-form .submit-button {
    background-color: cadetblue;
    box-shadow: inset;
    width: 10%
}